<!DOCTYPE html>
<html>
<head>
    <title>Issue Book</title>

    <!--CSS StyleSheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'library_app/style.css' %}">
</head>
<body>
    <header>Library Management System</header>

    <h1>Issue a Book</h1>

    <div class="container">
        <img src="https://cdn-icons-png.flaticon.com/512/29/29302.png" alt="Book Icon" width="60" style="display:block; margin: 0 auto 15px;">
        
        <!--Post Method to send the Book Issue Update to the System-->
        <form method="post" style="text-align: center;">
            {% csrf_token %}

            <!--Ask for the Book ID-->
            <label for="book_id">Book ID:</label>
            <input type="number" name="book_id" id="book_id" required>
            <br><br>
            
            <!--Ask for the Member ID-->
            <label for="member_id">Member ID:</label>
            <input type="number" name="member_id" id="member_id" required>
            <br><br>
            <input type="submit" value="Issue Book">
        </form>
        <br><br>
        <form action="/" style="text-align: center;">
            <button type="submit">Back to Book List</button>
        </form>
    </div>
</body>
</html>
