<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Library Books</title>

    <!--CSS StyleSheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'library_app/style.css' %}">

</head>
<body>
    <header>Library Management System</header>
    <h1>Library Book List</h1>

    <!--List of all the books added in library-->
    <div class="container">
        <img src="https://cdn-icons-png.flaticon.com/512/29/29302.png" alt="Book Icon" width="60" style="display:block; margin: 0 auto 15px;">
        <ul>
            {% for book in books %}
                <li>{{ book.title }} by {{ book.author }}</li>
            {% empty %}
                <li>No books available.</li>
            {% endfor %}
        </ul>
        <br>
    
        <!-- Navigation buttons -->
        <div class="container">
            <!-- Go to Add book page -->
            <form action="/add/" style="text-align: center;">
                <button type="submit">Add a New Book</button>
            </form>
            <br>
            <!-- Go to Issue book page -->
            <form action="/issue/" style="text-align: center;">
                <button type="submit">Issue Book</button>
            </form>
            <br>
            <!-- Go to Return book page -->
            <form action="/return/" style="text-align: center;">
                <button type="submit">Return Book</button>
            </form>
        </div>
    </div>
</body>
</html>
