<!DOCTYPE html>
<html>
<head>
    <title>Return Book</title>
    <style>
        h1 {
            text-align: center;
            color: darkblue;
            font-family: 'Times New Roman';
        }
        form {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Return a Book</h1>
    <form method="post">
        {% csrf_token %}
        <label>Book ID:</label>
        <br>
        <input type="number" name="book_id" required>
        <br>
        <br>
        <input type="submit" value="Return Book">
    </form>
    <br>
    <form action="/" style="text-align: center;">
        <button type="submit">Back to Book List</button>
    </form>
</body>
</html>